<div *ngIf="loading$ | async; else loaded">
    <p>Loading offers...</p> <!-- You can replace this with a spinner if desired -->
  </div>
  
  <ng-template #loaded>
    <div *ngIf="offers$ | async as offers; else noOffers">
      <h2>Available Offers</h2>
      <ul *ngIf="offers.length > 0; else noOffers">
        <li *ngFor="let offer of offers">
          <h3>{{ offer.name }}</h3>
          <p>{{ offer.contractStartDate }}</p>
          <p>Price: {{ offer.contractStartDate }}</p>
        </li>
      </ul>
    </div>
  
    <ng-template #noOffers>
      <p>No offers available at this time.</p>
    </ng-template>
  
    <div *ngIf="error$ | async as error">
      <p class="error">Error: {{ error }}</p>
    </div>
  </ng-template>
  