<!-- <div *ngIf="!isAuthenticated$ | async; else loggedIn"> -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="username">Username</label>
    <input id="username" formControlName="username" type="text" />

    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password" />

    <button type="submit">Login</button>
  </form>

  <div *ngIf="error$ | async as error">
    <p class="error">Error: {{ error }}</p>
  </div>
<!-- </div> -->

<ng-template #loggedIn>
  <p>You are already logged in. Redirecting...</p>
</ng-template>
