@import './styles/variables.scss';
body {
    padding: 0 ;
    margin: 0 ;
    font-family: 'Mulish', sans-serif;
}

.content{
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-container {
    display: block;
    background: $background;
    height: 100svh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.error {
    color: $error-color;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

#loading-message {
    font-size: $font-size-base;
    color: $primary-color;
    text-align: center;
}

.app-title {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 3.5rem;
}

.error {
    color: #e74c3c;
    font-size: 0.875em;
}